@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-image: url("imagens/textura.jpg");
    background-attachment: fixed;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal{
    width: 1200px;
    background-color: black;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(255, 255, 255);
    border-radius: 20px;
}
